/** The whole Body design **/


body{
	margin: 0 auto;
	font-family: roboto;
	background-image: linear-gradient(180deg, rgba(245, 241, 255, 0.8) 0%, rgba(245, 241, 255, 0) 95.8%);;
)
} 

/** The head section of the page **/
header{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1em;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: auto;
}

/** The Logo design **/
h3{
	padding: 0;
	margin-top: 0;
	height: 3em;
	width: 3em;
	background: white;
	line-height: 3em;
	text-align: center;
	border-radius: 50%;
	color: #0045FF;
	grid-column: 1/2;
	font-style: italic;
}

/** The Nav bar styles **/
nav{
	grid-column: 7/13;
}
ul {
	list-style-type: none;
	display: flex;
	grid-gap: 2em;
}

li {
	font-weight: 500;
	color: #152C5B;
	/*font-size: 15px;*/
	opacity: 0.8;
}

a {
	text-decoration: none;
	opacity: 0.8;
	color: #152C5B;
}

#login {
	color: #0045FF;
	font-weight: bold;
}

button {
	padding-top: 1em;
	padding-bottom: 1em;
	background: #0045FF;
	border-radius: 8px;
	border: none;
	padding-left: 1em;
	padding-right: 1em;
	color: white;
	outline: none;
	margin-top: -1em;
}

main {
	margin-left: 20%;
	margin-right: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

h1 {
	color: #152C5B;
	font-weight: 700;
	font-size: 3.5em;
	margin-bottom: 0;
	margin-top: 0;
	padding-right: 1em;
	padding-left: 1em;
}

p {
	color: #152C5B;
	opacity: 0.5;
}

.container {
	background: rgba(0, 0, 0, 0.025);
	border: 3px solid white;
	border-radius: 1em;
	height: 22.3em;
	margin-bottom: 1em;;
	margin-left: 5em;
	margin-right: 5em;
}

iframe{
	margin-top: 1em;
	border-radius: 0.7em;
	height: 20em;;
	width: 95%;
	outline: none;
	border: none;
}

@media (max-width: 992px) { 
	
	nav {
	grid-column: 5/13;
	}
	
	main {
	margin-left: 10%;
	margin-right: 10%;
	}
	
	h1 {
	font-weight: 700;
	font-size: 3em;
	}
	
}

@media (max-width: 768px) { 
	nav {
	grid-column: 3/13;
	}
	
	main {
	margin-left: 5%;
	margin-right: 5%;
	}
	
	h1 {
	font-weight: 700;
	font-size: 2em;
	}
	
}

